<?xml version="1.0" encoding="utf-8" ?>
<config>
  <game>
    <!-- The server ID, the same database -->
    <id>1</id>
    <!-- Maximum realms in the server -->
    <realms>3</realms>
    <!-- Server listening -->
    <host>127.0.0.1</host>
    <port>777</port>
  </game>
  <realm>
    <!-- Maximum virus in the realm -->
    <virus>50</virus>
    <!-- Maximum food in the realm -->
    <food>2000</food>
    <!-- Realm Size -->
    <width>11160</width>
    <height>11160</height>
  </realm>
  <interval>
    <!-- FPS: 1000/postion -->
    <position>18</position>
    <!-- Seconds -->
    <food>60</food>
    <!-- Seconds -->
    <virus>300</virus>
    <!-- Seconds -->
    <ranking>1</ranking>
  </interval>
  <database>
    <host>127.0.0.1</host>
    <name>agario</name>
    <user>root</user>
    <pass></pass>
  </database>
</config>